body {
    margin: 60px auto;
    width: 70%;
    text-align: justify;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi4mJnBaabELIWua8KGe6zF79M14CcdmdCb9KigDv-23UEF6vLrw")
 }
 nav  {
 
    margin-right:10px;

    padding: 18px 15px;
    font-size: 18px;
     float: left;
    text-align: center;
     font-size: 20px;
       width:100%;
}
nav a {
   display: inline;
 background-color: green;
    color: white;
    float: left;
    border: none;
    outline: none;
     padding: 15px 5px;
      
  width:22.8%;

     
}
tablink:hover {
    background-color: gray;
}


legend{

    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    display: block;
    width: auto;
    color: blue;
    border-radius: 4px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}

a {
    text-decoration: none;
    color:  #000000;
    
}
a:hover {
    text-decoration: underline;
    background-color: gray;
    color: white;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #000000;

}
form { 
  margin: 0; 
  padding: 0; 
  padding-bottom: 1.25em; 
} 


form  input, 
form textarea { 
  margin: 30px; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
} 


