body {
    margin: 60px auto;
    width: 70%;
    text-align: justify;
 }
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
   
    color: black;
   

}
tablink:hover {
    background-color: gray;
}


legend{

    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    display: block;
    width: auto;
    color: blue;
    border-radius: 4px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}

a {
    text-decoration: none;
    color:  #000000;
    
}
a:hover {
    text-decoration: underline;
    background-color: gray;
    color: white;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #000000;

}
form { 
  margin: 0; 
  padding: 0; 
  padding-bottom: 1.25em; 
} 


form  input, 
form textarea { 
  margin: 30px; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
} 


