body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;

}
legend{
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid black;
    display: block;
    width: auto;
    color: blue;
    border-radius: 4px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}

a {
    text-decoration: none;
    color:  #000000;
}
a:hover {
    text-decoration: underline;
    background-color: gray;
    color: white;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;

}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
